{% extends 'admin.html' %}
{% block content %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

   .container h1 {
      background-color: #f2f2f2;
      padding: 10px;
      border-radius: 10px;
   }

   .boxes {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;

   }

   .box {
      padding: 20px;
      margin: 10px;
      background-color: #ac12ff;
      color: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .box i {
      margin-bottom: 10px;
      font-size: 24px;
   }
</style>
<div class="container">
   <h1 class="text-center">Welcome Admin</h1>
   <div class="boxes">
      <div class="box"><i class="fas fa-user"></i> Registered user: {{user_count}}</div>
      <div class="box"><i class="fas fa-user-check"></i> Current Logged In user: {{logged_in_user_count}}</div>
      <div class="box"><i class="fas fa-users"></i> Total Employee:{{totalemployee}}</div>
      <div class="box"><i class="fas fa-calendar-check"></i> Total Service Bookings:{{totalservice_booking}}</div>
      <div class="box"><i class="fas fa-credit-card"></i> Total Payments:{{totalpayments}}</div>
   </div>
</div>
{% endblock %}