{% include 'admin_header.html' %}
{% block content %}

<section class="main">
    <div class="main-top">
        <h1>Home</h1>
        <i class="fas fa-user-cog"></i>
    </div>
    <div class="Superuser">
        <h2>Create Employee</h2>
        <br>
        <form method="post" class="my-form" action="{% url 'create_superuser' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Employee</button>
        </form>
    </div>
</section>
</div>
</body>
{% endblock %}