{% extends 'admin.html' %}

{% block content %}

<div class="container">
   <div class="table-wrapper">
      <div class="table-title">
         <div class="row">
            <div class="col-sm-6">
               <h2><b>Course Bookings</b></h2>
            </div>
         </div>
      </div>
      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th>Course Name</th>
               <th>Name</th>
               <th>Email</th>
               <th>Purchased Date</th>
            </tr>
         </thead>
         <tbody>
            {% for booking in courseBooking %}
            <tr>
               <td>{{booking.course.name}}</td>
               <td>{{booking.customer.name}}</td>
               <td>{{booking.customer.email}}</td>
               <td>{{booking.purchased_date}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>

{% endblock %}