{% extends 'admin.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form action="{% url 'add_packages' %}" method="post" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name">Name:</label>
                <input class="form-control" id="name" type="text" name="name" required>
            </div>
            <div class="mb-3">
                <label for="description">Description:</label>
                <textarea id="description" class="form-control" name="description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="price">Price:</label>
                <input id="price" type="number" class="form-control" name="price" required>
            </div>
            <div class="mb-3">
                <label for="duration">Duration:</label>
                <select id="duration" name="duration" class="form-control" required>
                    <option value="30">1 month</option>
                    <option value="60">2 months</option>
                    <option value="90">3 months</option>
                    <option value="120">4 months</option>
                    <option value="150">5 months</option>
                    <option value="180">6 months</option>
                </select>
            </div>

            <input type="submit" value="Add Package" class="mt-3 btn btn-primary">
        </form>
    </div>
</div>

<!-- display -->
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Packages</b></h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Durations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in packages %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.duration}}</td>

                    <td>
                        <a href="#editpackagesModal-{{forloop.counter}}" class="edit" data-bs-toggle="modal">
                            <span class="material-symbols-outlined" data-bs-toggle="tooltip" title="Edit">
                                edit
                            </span>
                        </a>
                        <a href="#deletepackagesModal-{{forloop.counter}}" class="delete" data-bs-toggle="modal">
                            <span class="material-symbols-outlined" data-toggle="tooltip" title="Delete">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Edit Modal HTML -->
<!-- Edit Modal HTML -->
{% for i in packages %}
<div id="editpackagesModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/packages_update/{{i.id}}" enctype="multipart/form-data" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Edit Packages</h4>
                    <div class="close-modal">
                        <a href="" data-bs-dismiss="modal" aria-hidden="true"><span
                                class="material-symbols-outlined">close</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input value="{{i.name}}" name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" required>{{i.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" name="price" value="{{i.price}}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<!-- Delete Modal HTML -->
{% for i in packages %}
<div id="deletepackagesModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete packages</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>{{i.name}} information are delete ?</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <a href="/packages_delete/{{i.id}}" type="submit" class="btn btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}