{% extends 'admin.html' %}
{% block content %}
<!-- display -->
<div class="container">
   {% for course in courses %}
   <div class="course-details">
      <h2>Course: {{course.name}}</h2>
      <dl class="row">
         <dt class="col-sm-3">Name</dt>
         <dd class="col-sm-9">{{course.name}}</dd>

         <dt class="col-sm-3">Description</dt>
         <dd class="col-sm-9">{{course.description}}</dd>

         <dt class="col-sm-3">Slug</dt>
         <dd class="col-sm-9">{{course.slug}}</dd>

         <dt class="col-sm-3">Price</dt>
         <dd class="col-sm-9">{{course.price}}</dd>

         <dt class="col-sm-3">Discount</dt>
         <dd class="col-sm-9">{{course.discount}}</dd>

         <dt class="col-sm-3">Thumbnail</dt>
         <dd class="col-sm-9">
            <img src="{{course.thumbnail.url}}" height="100px" width="100px" class="img-fluid" alt="{{course.name}}">
         </dd>

         <dt class="col-sm-3">Resource</dt>
         <dd class="col-sm-9">
            <a href="{{course.resource.url}}" download>Download Resource</a>
         </dd>
         <a href="#updateCourseModal-{{forloop.counter}}" class="edit" data-bs-toggle="modal">
            <span class="material-symbols-outlined" data-bs-toggle="tooltip" title="Edit">
               edit
            </span>
         </a>
         <a href="#deleteservicesModal-{{forloop.counter}}" class="delete" data-bs-toggle="modal">
            <span class="material-symbols-outlined" data-bs-toggle="tooltip" title="Delete">
               delete
            </span>
         </a>
   </div>

   <hr>
   {% endfor %}
</div>

<!-- Update Model HTML -->
{% for course in courses %}
<div id="updateCourseModal-{{forloop.counter}}" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <form method="post" action="/course_update_view/{{course.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
               <h4 class="modal-title">Update Course</h4>
               <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" value="{{course.name}}" required>
               </div>
               <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" required>{{course.description}}</textarea>
               </div>
               <div class="form-group
                  ">
                  <label for="slug">Slug</label>
                  <input type="text" class="form-control" name="slug" value="{{course.slug}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" name="price" value="{{course.price}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="discount">Discount</label>
                  <input type="number" class="form-control" name="discount" value="{{course.discount}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="thumbnail">Thumbnail</label>
                  <input type="file" class="form-control" name="thumbnail" required>
               </div>
               <div class="form-group
                  ">
                  <label for="resource">Resource</label>
                  <input type="file" class="form-control" name="resource" required>
               </div>
            </div>
            <div class="modal-footer">
               <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
               <input type="submit" class="btn btn-info" value="Save">
            </div>
         </form>
      </div>
   </div>
</div>
{% endfor %}


<!-- Edit Modal -->
{% for course in courses %}
<div id="editCourseModal-{{forloop.counter}}" class="modal fade
   ">
   <div class="modal-dialog
      ">
      <div class="modal-content
         ">
         <form action="/course_update_view/{{course.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header
               ">
               <h4 class="modal-title
                  ">Edit Course</h4>
               <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true
                  ">&times;</button>
            </div>
            <div class="modal-body
               ">
               <div class="form-group
                  ">
                  <label for="name
                     ">Name</label>
                  <input type="text" class="form-control" name="name" value="{{course.name}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="description
                     ">Description</label>
                  <textarea class="form-control" name="description" required>{{course.description}}</textarea>
               </div>
               <div class="form-group
                  ">
                  <label for="slug
                     ">Slug</label>
                  <input type="text" class="form-control" name="slug" value="{{course.slug}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="price
                     ">Price</label>
                  <input type="number" class="form-control" name="price" value="{{course.price}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="discount
                     ">Discount</label>
                  <input type="number" class="form-control" name="discount" value="{{course.discount}}" required>
               </div>
               <div class="form-group
                  ">
                  <label for="thumbnail
                     ">Thumbnail</label>
                  <input type="file" class="form-control" name="thumbnail" required>
               </div>
               <div class="form-group
                  ">
                  <label for="resource
                     ">Resource</label>
                  <input type="file" class="form-control" name="resource" required>
               </div>
            </div>
            <div class="modal-footer
               ">
               <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
               <input type="submit" class="btn btn-info" value="Save">
            </div>
         </form>
      </div>
   </div>
</div>
{% endfor %}


<!-- Delete Modal HTML -->
{% for course in courses %}
<div id="deleteCourseModal-{{forloop.counter}}" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <form>
            <div class="modal-header">
               <h4 class="modal-title">Delete Course</h4>
               <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete these Records?</p>
               <p class="text-warning"><small>This will delete the course "{{course.name}}".</small></p>
            </div>
            <div class="modal-footer">
               <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
               <a href="/course_delete_view/{{course.id}}" type="submit" class="btn btn-danger">Delete</a>
            </div>
         </form>
      </div>
   </div>
</div>



{% endfor %}
{% endblock %}