{% extends 'base.html' %}
{% block content %}
<div class="a_form">

    <div class="appointment-heading">
        <h1>BOOK <br> APPOINTMENT</h1>
        <hr>
        <p>Book an appointment with us today and get the best services.</p>
    </div>

    <form method="post" class="appointment-form p-4 " action="{% url 'appointment' %}" data-aos-duration="1000"
        data-aos="fade-left">
        {% csrf_token %}
        <h1>APPOINTMENT</h1>
        <hr>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" name="email" required>
        </div>

        <div class="form-group">
            <label for="date">Preferred Date:</label>
            <input type="date" id="date" class="form-control" name="date" required>
        </div>

        <div class="form-group">
            <label for="time">Preferred Time:</label>
            <input type="time" id="time" class="form-control" name="time" required>
        </div>
        <div class="form-group">
            <label for="comments">Additional Comments:</label>
            <textarea id="comments" name="description" class="form-control" rows="4"></textarea>
            <button type="submit" class="mt-2 button btn-hover">Submit Appointment</button>
        </div>

    </form>

</div>
{% endblock %}