<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="/static/CSS/admin_panel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div id="sidebar">
        <div id="sidebar-logo">
            <h3>Customer Dashboard</h3>
        </div>
        <a href="#" class="sidebar-item">Home</a>
        <!-- <a href="#" class="sidebar-item">My Courses</a> -->
        <a href="{% url 'customer_my_services' %}" class="sidebar-item">My Services</a>
        <a href="{% url 'customer_my_packages' %}" class="sidebar-item">My Packages</a>
        <a href="{% url 'logout' %}" class="sidebar-item">Logout</a>
    </div>

    <div id="content">
        <div class="dashboard-card">
            <!-- <h1>Customer Dashboard</h1> -->
            {% block content %}
            
            {% endblock %}
        </div>
    </div>
</body>

</html>