{% extends 'customer.html' %}

{% block content %}
<style>
   .card {
      width: 18rem;
      margin-bottom: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
   }

   .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   }

   .card-body {
      padding: 1.25rem;
   }

   .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
   }

   .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
   }
</style>

<div class="row">
   {% for course in courses %}
   <div class="col-md-4">
      <div class="card">
         <div class="card-header">
            {{ course.name }}
         </div>
         <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="/course/course_details/{{course.slug}}" class="btn btn-primary">Show More</a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>

{% endblock %}