<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/customer_panel.css">
</head>

<body>


    <div class="container">
        <div class="nav">
            <h1>Accountant</h1>
            <ul>
                <!-- <li><a href="admin.html">Home</a></li> -->
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'customer_panel' %}" class="nav-link">@{{ user.username }}</a>
                    {% endif %}
                </li>

            </ul>
        </div>

        <div class="container2">
            <div class=" sidebar">
                <ul>
                    <li><a href="">Dashboard </a> </li>
                    <li><a href="">People </a> </li>
                    <li><a href="">Projects </a> </li>
                    <li><a href="">Calender </a> </li>
                    <li><a href="">Training </a> </li>
                    <li><a href="">Timing </a> </li>
                    <li><a href="">Administration</a> </li>
                </ul>
            </div>
            <div class=" dashboard">
                {% for user in users %}
                <div class="contents">
                    <div class="div">
                        username: {{ user.username }}
                        <br>
                        email: {{ user.email }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>