{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - A Website For Service</title>
    <link rel="shortcut icon"
        href="https://img.freepik.com/free-vector/multi-tasking-manager-office-business-planning-organization-calculator-money_1284-41579.jpg?w=740&t=st=1705480386~exp=1705480986~hmac=f9382c5950f0047e242b8d0bf1a8c29b1726b0e654d37015fc64feae7be4e9e9"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/static/CSS/new.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>



<body>

    <!-- Navbar Start -->
    <section class="container-fluid">
        <nav data-aos="fade-right" class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
            <div class="container-fluid">
                <a class=" nav-logo" href="#">Accountant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title logos" id="offcanvasNavbarLabel">Accountant

                        </h5>
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item mx-2">
                                <a class="nav-link " aria-current="page" href="#header">Home</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#aboutus">About</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#myservices">Services</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#Packages">Packages</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#my-calc">Calculators</a>
                            </li>
                            
                            
                            <a href="{% url 'login' %}" class="button btn-hover">Login</a>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </section>
    <!-- Navbar Start -->

    <!-- Header Start -->
    <header id="header">
        <div class="row">
            <div class="col-lg-8  col-mg-12" id="header-content" data-aos-duration="1000" data-aos="fade-left">
                <h1>Accountant</h1>
                <p>Empowering Financial Success: <br> Your Trusted Partner in Precision Accounting Solutions.</p>
                <a href="#aboutus" class="button">Get Started</a>
            </div>
            <div class="col-lg-4 col-mg-12" data-aos-duration="1000" id="header-img" data-aos="fade-right">
                <img src="/static/images/user.png" class="img-fluid" alt="">
            </div>
        </div>
    </header>
    <!-- Header End -->


    <hr>
    <!-- About US -->
    <div class="about-us mt-3" id="aboutus">
        <h2>About Us</h2>
        <div class="card-container">
            <div class="about-card">
                <img src="https://img.freepik.com/free-photo/business-concept-with-team-close-up_23-2149151159.jpg?w=1060&t=st=1704982894~exp=1704983494~hmac=0292fad6626ae9301a1984122939a526023d8936add733ebc9962b44a39df518"
                    class="img-fluid" alt="">
                <h3 class="mt-2">Our Mission</h3>
                <p>
                    Our mission is to provide the best accounting services to our clients. We are committed to
                    providing.
                </p>
            </div>
            <div class="about-card">
                <img src="https://img.freepik.com/free-photo/guy-shows-document-girl-group-young-freelancers-office-have-conversation-working_146671-13569.jpg?w=1060&t=st=1704982957~exp=1704983557~hmac=193e774398180580279511a396767afc66e7b62d0e68b4293b8cb25c56433522"
                    class="img-fluid rounded " alt="">
                <h3 class="mt-2">Our Team</h3>
                <p>
                    Our team is a group of highly qualified and experienced professionals who are committed to providing
                    the
                    best services to our clients.
                </p>
            </div>
            <div class="about-card">
                <img src="https://img.freepik.com/free-photo/smiling-businessman-welcoming-new-partner-group-meeting-with-handshake_1163-4627.jpg?w=1060&t=st=1704983031~exp=1704983631~hmac=3664cb816ac0ce5511961949b19807d363ef3c9f129c1c3a516d45dcfa2e3c5e"
                    class="img-fluid" alt="">
                <h3 class="mt-2">We Provide</h3>
                <p>
                    We provide a wide range of accounting services to our clients. We also provide accounting packages
                    to
                    our clients.
                </p>
            </div>
        </div>
    </div>
    <!-- About US -->
    <!-- services -->
    <div id="myservices">
        <div class="serivce-heading">
            <h2>Our Services</h2>
        </div>
        <div class="Service_cards">
            {% for service in services %}
            <div class="s-card">
                <h2>{{ service.name }}</h2>
                {% if service.image %}
                <img src="/media/{{service.image}}" height="6.25rem" width="6.25rem" class="img-fluid"
                    alt="{{service.name}}">
                {% else %}
                <p>No image available for this service.</p>
                {% endif %}
                <p>{{ service.description }}</p>
                <p>Price{{service.price}}</p>
                <!-- <div class="button mt-2">
                    <a href="{{ service.booking_url }}" class="button">Book Now</a>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- services -->

    <div class="container">

        <section id="Packages">
            <div class="package-heading text-center">
                <h2>Our Packages</h2>
            </div>
            <div class="row">
                {% for package in packages %}
                <!-- Package -->
                <div class="col-md-4">
                    <div class="card h-100">
                    <!-- <img src="{{package.image}}" class="img-fluid" alt="{{package.name}}"> -->
                    <div class="card-body">
                        <h5 class="card-title text-center">{{package.name}}</h5>
                        <p class="card-text">{{package.description}}</p>
                        <a href="{{package.url}}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <footer class="text-center text-lg-start pt-1  bg-body-tertiary text-muted">

        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-2">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Accountant
                    </h6>
                    <p>
                        Accountant is a website that provides you with all the financial services you need.
                        We provide you with the best financial services and help you to grow your business.
                    </p>
                </div>
    
                <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i>506,Iconic Isanpur Complex,
                        Opp.Mony Hotel,Narol-Naroda
                        Highway,Isanpur,
                        Ahmedabad-382443</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        camanish.grow@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i>7600000392</p>
                </div>
            </div>
        </div>
    
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            ©Copyright All rights Reserved:
        </div>
    </footer>
    
    <script>
        function closeOffcanvas() {
            var offcanvasElement = document.getElementById('offcanvasNavbar');
            var bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);
            bsOffcanvas.hide();
        }
    </script>
    <script src="/static/JS/main.js">
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>