{% extends 'employee.html' %}
{% load static %}
{% block content %}

<div class="container">
   <div class="table-wrapper">
      <div class="table-title">
         <div class="row">
            <div class="col-sm-6">
               <h2><b>Booked Services</b></h2>
            </div>
         </div>
      </div>
      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th>Customer</th>
               <th>Service</th>
               <th>Date</th>
               <th>Time</th>
            </tr>
         </thead>
         <tbody>
            {% for i in payments %}
            <tr>
               <td>{{i.customer.name}}</td>
               <td>{{i.service.name}}</td>
               <td>{{i.date}}</td>
               <td>{{i.time}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>

{% endblock %}