<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/static/CSS/new.css">
</head>
<body>
   <div class="gst-calculator wrapper " data-aos-duration="1000" data-aos="fade-right">
   
      <h3>GST Calculator</h3>
      <h5>Amount (excluding GST)</h5>
      <input type="number" id="gstamount" placeholder="Enter amount">
   
      <select class="gstdropdown" name="" id="">
         <option value="5">5% - Mass Consumption Items </option>
         <option value="12">12% - Processed Foods</option>
         <option value="18">18% -Hair Product,Stationary</option>
         <option value="28">28% -Cars,Tobacco,drinks</option>
      </select>
      <button onclick="calculateGST()">Calculate Total</button>
   
      <h5>Total Amount (including GST)</h5>
      <input type="text" id="gsttotal" readonly>
   </div>
   <script src="/static/JS/main.js"></script>
</body>
</html>