<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/static/CSS/new.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>



<body>
    <!-- Navbar Start -->
    <section class="container-fluid">

        <nav data-aos="fade-right" class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
            <div class="container-fluid">
                <a class=" nav-logo" href="#">Accountant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title logos" id="offcanvasNavbarLabel">Accountant

                        </h5>
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-2">

                            <li class="nav-item mx-2 {% if request.path == '/homepage/' %} active {% endif %}">
                                <a class="nav-link " aria-current="page" href="{% url 'homepage' %}">Home</a>
                            </li>
                            <li class="nav-item mx-2 {% if request.path == '/aboutus/' %} active {% endif %}">
                                <a class="nav-link" href="{% url 'aboutus' %}">About</a>
                            </li>
                            <li class="nav-item mx-2 {% if request.path == '/services/' %} active {% endif %}">
                                <a class=" nav-link" href="{% url 'services' %}">Services</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#Packages">Packages</a>
                            </li>
                            <li class="nav-item mx-2 {% if request.path == '/appointment/' %} active {% endif %}">
                                <a class="nav-link" href="{% url 'appointment' %}">Appointment</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#Packages">Courses</a>
                            </li>
                            <li class="nav-item mx-2 {% if request.path == '/calculators/' %} active {% endif %}">
                                <a class="nav-link" href="{% url 'calculators' %}">Calculators</a>
                            </li>
                            <li class="nav-item mx-2 username">
                                <a class="nav-link" href="{% url 'dashboard' %}">
                                    {% if user.is_authenticated %}
                                    @{{ user.username }}
                                    {% endif %}
                                </a>
                            </li>
                        </ul>

                        <div class="d-flex navbarLinks justify-content-center align-items-center  gap-3">
                            <a href="{% url 'logout' %}" class="button btn-hover">logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>