{% extends "base.html" %}
{% block content %}
<style>
   .package-container {
      margin-top: 5%;
   }

   .pack_box {
      padding: 10px;
      margin: 10px;
      border-radius: 15px;
      background: #f2f2f2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

   }

   .package_name h1 {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
   }

   .package-details p {
      font-size: 16px;
      font-family: 'Poppins', 'sans-serif';
   }

   .package-details h4 {
      font-size: 20px;
      font-family: 'Poppins', 'sans-serif';
   }
</style>

</head>

<body>
   <div class="container package-container">
      <div class="row">
         {% for package in packages %}
         <div class="col-4 pack_box">
            <div class="package">
               <div class="package-name">
                  <h1>
                     {{ package.name }}
                  </h1>
               </div>
               <div class="package-details">
                  <p> {{ package.description}}</p>
                  <h4>
                     &#8377; {{ package.price }}
                  </h4>
               </div>
               <a href="/package/{{ package.id }}" class="btn btn-primary">View Package</a>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <!-- <div class="package">
      <div class="package-name">
         Monthly Accounting Package
      </div>
      <div class="package-details">
         This package includes the following services:
         <ul>
            <li>Monthly Financial Statements</li>
            <li>Monthly Tax Returns</li>
            <li>Monthly Tax Planning</li>
         </ul>
      </div>
   </div>
   <div class="package">
      <div class="package-name">
         Payroll Package
      </div>
      <div class="package-details">
         This package includes the following services:
         <ul>
            <li>Payroll Processing</li>
            <li>Payroll Tax Returns</li>
            <li>Payroll Tax Planning</li>
         </ul>
      </div>
   </div>

   <div class="package">
      <div class="package-name">

         Tax Preparation Package
      </div>
      <div class="package-details">
         This package includes the following services:
         <ul>
            <li>Income Tax Preparation</li>
            <li>Tax Planning</li>
            <li>Tax Consultation</li>
         </ul>
      </div>
   </div> -->


   {% endblock %}