{% extends 'base.html' %} {% block content %}
<div class="Service_cards">
   <!-- <div class="s-card">
      <h2>ITR RETURN</h2>
      <img src="/static/IMAGES/itr.jpg" height="100px" width="100px" class="img-fluid" alt="ITR RETURN">
      <p>Income Tax Return is a form in which taxpayers file information about his income and tax thereon to Income Tax
         Department. </p>
      <p>Price: 500</p>
      <div class="button mt-2">
         <a href="/book-now" class="button">Book Now</a>
      </div>
   </div>

   <div class="s-card">
      <h2>Digital Signature</h2>
      <img src="/static/IMAGES/digital signature.jpg" height="100px" width="100px" class="img-fluid"
         alt="Digital Signature">
      <p>Digital Signature Certificate (DSC) is the electronic format of physical or paper certificate like a driving
         License, passport etc.</p>
      <p>Price: 1000</p>
      <div class="button mt-2">
         <a href="/book-now" class="button">Book Now</a>
      </div>
   </div>

   <div class="s-card">
      <h2>GST REGISTRATIONS</h2>
      <img src="/static/IMAGES/gst-registration.jpg" height="100px" width="100px" class="img-fluid"
         alt="GST REGISTRATIONS">
      <p>GST is a single tax on the supply of goods and services, right from the manufacturer to the consumer. Credits
         of input taxes paid at each stage will be available in the subsequent stage of value addition.</p>

      <p>Price: 1500</p>
      <div class="button mt-2">
         <a href="/book-now" class="button">Book Now</a>
      </div>

   </div>

   <div class="s-card">
      <h2>GST RETURN</h2>
      <img src="/static/IMAGES/gst return.jpg" height="100px" width="100px" class="img-fluid" alt="GST RETURN">
      <p>GST Return is a document that will contain all the details of your sales, purchases, tax collected on sales
         and tax paid on purchases. </p>
      <p>Price: 1000</p>
      <div class="button mt-2">
         <a href="/book-now" class="button">Book Now</a>
      </div>
   </div> -->

   {% for service in services %}
   <div class="s-card ">
      <h2>{{ service.name }}</h2>
      {% if service.image %}
      <img src="/media/{{service.image}}" height="100px" width="100px" class="img-fluid" alt="{{service.name}}" />
      {% else %}
      <p>No image available for this service.</p>
      {% endif %}
      <p>{{ service.description }}</p> 
      <p class="pricing">Price :₹{{service.price}}</p>
      <a href="{% url 'service_booking' service.id %}" type="submit" class="btn btn-primary">Book Now</a>
      <!-- <div class="button mt-2">
         <a href="{%  url 'service_booking' service.id %}" class="button">Book Now</a>
      </div> -->
   </div>
   {% endfor %}
</div>
{% endblock %}