{% extends "base.html" %}
{% block content %}

<div class="Service_cards">

    <div class="s-card">
        <h2>ITR File</h2>
        <!-- <img src="/images/itr.jpg" alt=""> -->
        <img src="https://img.freepik.com/free-vector/monthly-expense-planning-reminder-appointment-payment-deadline-worker-with-timetable-organizer-schedule-countdown-payday-vector-isolated-concept-metaphor-illustration_335657-4322.jpg?w=740&t=st=1705396371~exp=1705396971~hmac=63a225eaaad872609841855cf036309fd2aca2053d5f8bcd2074cb0467aa6723"
            alt="">
        <p>Description of Service 1</p>
        <div class="button">
            <div class="button-layer"></div>
            <a href="" class="button`">Book Now</a>
        </div>
    </div>
    <div class="s-card">
        <h2>GST Registration</h2>
        <img src="https://img.freepik.com/free-vector/business-goods-services-tax-people-around-gst-text-chard-board-box-packed-money-template-banner-flyer_82472-447.jpg?w=740&t=st=1705396509~exp=1705397109~hmac=07801760487f3ac0720a854f6fafad96d35b6ad527acacb3d2f5a76befe6467c"
            alt="">
        <p>Description of Service 2</p>
        <div class="button">
            <div class="button-layer"></div>
            <a href="" class="button`">Book Now</a>
        </div>
    </div>
    <div class="s-card">
        <h2>GST Return</h2>
        <img src="https://img.freepik.com/free-vector/corporation-income-tax-returns-abstract-concept-illustration-company-income-return-form-corporation-accountancy-tax-preparation-financial-activity-corporate-taxation_335657-1240.jpg?w=740&t=st=1705396457~exp=1705397057~hmac=a9af6d87057e659d620057404d59f8f176aa6586347cd8aa37a5e452a3782db8"
            alt="">
        <p>Description of Service 3</p>
        <div class="button">
            <div class="button-layer"></div>
            <a href="" class="button mt-3">Book Now</a>
        </div>
    </div>
    <div class="s-card">
        <h2>Digital Signature</h2>
        <img src="https://img.freepik.com/free-vector/electronic-signature-technology-operation-validation-digital-signing-electronic-documents-verification-virtual-agreement-confirmation_335657-2362.jpg?w=740&t=st=1705396550~exp=1705397150~hmac=e0b8928f36a07909fb1cbdf085c3efa2a618bfcf9e3b1bb638fa7b88556b2df3"
            alt="">
        <p>Description of Service 4</p>
        <div class="button">
            <div class="button-layer"></div>
            <a href="" class="button ">Book Now</a>
        </div>
    </div>
</div>
{% endblock %}